@media (max-width:900px) {
    .slider_content{
        margin: 0;
        font-family: "YanB";
        font-size: 2.4em;
        top: 15%;
        left: 15%;
        width: 20%;
        position: absolute;
        color: #fff;
        &_inf {
            position: absolute;
            font-family: "YanB";
            color: #fff;
            top:30%;
            left: 6%;
            width: 40%;
            font-size: 1em;
        }
    }

}

@media (max-width: 767px) {
    .header-nav {
        display: none;
    }
    .header-logo {
        position: absolute;
        top: 0;
        left: calc(50% - 25px);
    }
    .user_mobile {
        display: block;
        opacity: 0.9;
        position: absolute;
        top: 0;
        right: 0;
        padding: 13px;

    }
    .header_toggle {
        display: block;
    }
    .search_form_input {
        z-index: 2;
        top: 60px;
        left: 0;
        left: calc(10% - 10px);
        right: 10%;
        width: 80%;
        background: rgba($color: #000000, $alpha: 0.2);
        color: #fff;
    }
    .slider_content{
        margin: 0;
        font-family: "YanB";
        font-size: 2em;
        top: 15%;
        left: 15%;
        width: 20%;
        position: absolute;
        color: #fff;
        &_inf {
            position: absolute;
            font-family: "YanB";
            color: #fff;
            top:30%;
            left: 6%;
            width: 40%;
            font-size: 0.6em;
        }
    }
    .info_content {
        width: calc(100% - 20px);
    }
    .buttons {
        width: 90%;
        left: 5%;
    }
    .prev, .next {
        width: 12%;
    }
    .content {
        &_one{
            height: 30vh;
            
        }
        &_two{

            height: 30vh;
            
        }
        &_three{
    
            height: 30vh;
            
        }
        &_four{

            height: 30vh;
            
        }
        &_text {
            
            font-size: 1.6em;
           
        }
    }
    .info_content {
        margin-bottom: 3px;
        margin-top: 3px;
    }
    .info_title {
        margin: 10px auto;
        font-size: 2em;
    }
    .info_item {
        padding: 0;
    }
    #gallery {
        padding: 0 10px;
    }
    .info {
        margin-bottom: 0px;
    }
}

@media (max-width:450px) {
    .slider_content{
        margin: 0;
        font-family: "YanB";
        font-size: 1.4em;
        top: 15%;
        left: 15%;
        width: 20%;
        position: absolute;
        color: #fff;
        &_inf {
            position: absolute;
            font-family: "YanB";
            color: #fff;
            top:30%;
            left: 6%;
            width: 40%;
            font-size: 0.4em;
        }
    }

}